@import '../variables';

.mind-vault-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  min-height: 100vh;
  background-color: $background-main;
  padding-top: 120px; // Добавили отступ под фиксированный хедер (хедер + описание)
  padding-bottom: 80px; // Увеличили отступ под футер
  min-height: 100vh; // Добавили минимальную высоту
}
