.footer-icons {
    margin-top: auto;
    padding: 10px 20px;
    background-color: #fff;
    border: 1px solid rgba(224, 224, 224, 1);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    gap: 30px;
  
    &__icon {
      flex: 0 0 auto;
      width: 35px;
      height: auto;
      object-fit: contain;
      cursor: pointer;
    }
  
    &__icon--pig {
      width: 38px;
    }
  }
  