@import './font.scss';

.mind-vault-header {
  width: 100%;
  background-color: rgba(238, 239, 241, 1);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed; // Фиксированный
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  padding: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);

  &__description {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #1E88D3;
    margin-top: 12px;
    margin-left: 12px;
    text-decoration: none;
    text-align: left;
    background-color: transparent;
    width: 100%; // Занимает всю ширину
    cursor: pointer;
  }
  
  &__left {
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
  }

  &__icon {
    width: 30px;
  }

  &__back-text {
    font-family: 'Telegram HPLHS', sans-serif;
    color: rgba(30, 136, 211, 1);
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
  }

  &__title {
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: #000;
    margin: 0;
  }
}

// Убираем отдельный стиль для описания - оно теперь часть хедера