// @import "../font.scss";

.debate-page {
  padding-bottom: 80px;
}

.debate-content {
  padding-top: 0 !important;
  padding: 16px;
  font-family: 'Space Grotesk', sans-serif;
  font-size: 20px;
  color: black;
  p {
    margin-bottom: 12px;
  }
}
