// @import "../font.scss";

.edit-idea-page {
  background-color: #fcfcfe;
  min-height: 100vh;
  box-sizing: border-box;
  padding-bottom: 80px;
  font-family: 'Space Grotesk', sans-serif;
}

.edit-idea-page__content {
  padding: 0 18px;
}

.edit-idea-page__empty-message {
  font-size: 20px;
  font-weight: 400;
  color: #000;
  margin-top: 8px;
  font-family: 'Space Grotesk', sans-serif;
}

.edit-idea-page__section-name {
  font-weight: 400;
  font-family: 'Space Grotesk', sans-serif;
}

.edit-idea-description {
  color: #1e88d3;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  cursor: pointer;
  margin-bottom: 16px;
}
