@import '../variables';

.mind-vault-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  min-height: 100vh;
  background-color: $background-main;
  padding-bottom: 120px; // Добавляем отступ снизу чтобы последняя карточка не уходила за футер
}
