// @import "../font.scss";

.resume-page {
  padding-bottom: 80px;
}

.resume-content {
  padding: 16px;
  font-family: 'Space Grotesk', sans-serif;
  font-size: 20px;
  color: black;

  strong {
    display: block;
    margin-bottom: 8px;
  }

  p {
    margin-bottom: 12px;
  }

  .project-info {
    font-family: Montserrat, sans-serif;
    display: flex;
    flex-direction: column;
    gap: 8px;

    .info-row {
      display: flex;
      align-items: center;
      gap: 8px;
    }

    p {
      font-weight: 500;
      font-size: 16px;
      margin: 0;
    }

    span {
      color: #1976d2;
    }

    .author-avatar {
      width: 20px;
      height: 20px;
      object-fit: cover;
      flex-shrink: 0;
    }
  }
}
